nav > ul{
    display: flex;
    justify-content: right;
}

nav li{
    list-style: none;
    margin: 0px 10px;
}

nav li:hover{
    background-color: lightblue;
}

nav li > a{
    text-decoration: none;
    color: black;
}

nav li > a:hover{
    color: lightcoral;
}