/* common styles*/
body {
    font-family: 'Open Sans', sans-serif;
}

.primary-color {
    color: #FD6E0A;
}

.prime-button {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0px;
    font-size: 20px;
    color: white;
    font-weight: 700;
    padding-inline: 35px;
    padding-block: 18px;

}

/* header style */
header {
    background-color: #FFF8F3;
    background-image: url(../image/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

/* nav style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 150px;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;

}

nav li>a:hover {
    color: #FD6E0A;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.navtitle {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

.banner {
    padding: 30px 0px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner>div {
    display: block;
}

.banner-text {
    padding-top: 100px;
}

.banner-greet {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-block: 0px;
}

.banner-title {
    font-size: 70px;
    font-weight: 700;
    color: #181818;
    margin-block: 0px;
    margin-inline: 0px;
}

.banner-para {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    max-width: 580px;
}

.cv-button {
    justify-content: space-between;
    border-radius: 5px;
    background: #FD6E0A;
    border: 1px solid #FD6E0A;
    border: 0px;
    font-size: 20px;
    color: white;
    font-weight: 700;
    padding-inline: 17px;
    padding-block: 15px;
}

.cv-button:hover {
    background: #FFF8F3;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
}

#contact-button {
    justify-content: space-between;
    background: #FFF8F3;
    color: #FD6E0A;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    padding-inline: 24px;
    padding-block: 15px;
}

#contact-button:hover {
    color: #FFF8F3;
    background: #FD6E0A;
}

.banner>div>button {
    margin-inline-end: 25px;
}