/* common styles*/
body {
    font-family: 'Open Sans', sans-serif;
}

main>section {
    margin: 130px;
}

.primary-color {
    color: #FD6E0A;
}

.prime-button {
    border-radius: 5px;
    background: #FD6E0A;
    border: 1px solid;
    font-size: 20px;
    color: white;
    font-weight: 700;
    padding-inline: 35px;
    padding-block: 18px;
}

.prime-button:hover {
    background: #FFF8F3;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
}

/* header style */
header {
    background-color: #FFF8F3;
    background-image: url(../image/developer.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 10px;
    margin: -7px;
}

/* nav style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 150px;
    margin-top: -50px;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;

}

nav li>a:hover {
    color: #FD6E0A;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.navtitle {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

.banner {
    padding: 30px 0px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(../image/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner>div {
    display: block;
}

.banner-text {
    padding-top: 100px;
}

.banner-greet {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-block: 0px;
}

.banner-title {
    font-size: 70px;
    font-weight: 700;
    color: #181818;
    margin-block: 0px;
    margin-inline: 0px;
}

.banner-para {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    max-width: 580px;
}

.cv-button {
    justify-content: space-between;
    border-radius: 5px;
    background: #FD6E0A;
    border: 1px solid;
    border: 0px;
    font-size: 20px;
    color: white;
    font-weight: 700;
    padding-inline: 17px;
    padding-block: 15px;
}

.cv-button:hover {
    background: #FFF8F3;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
}

#contact-button {
    justify-content: space-between;
    background: #FFF8F3;
    color: #FD6E0A;
    border-radius: 5px;
    border: 1px solid;
    font-size: 20px;
    font-weight: 700;
    padding-inline: 24px;
    padding-block: 15px;
}

#contact-button:hover {
    color: #FFF8F3;
    background: #FD6E0A;
}

.banner>div>button {
    margin-inline-end: 25px;
}

/* About me Section */
.about-section {
    text-align: center;
    padding: 130px 50px;
    background-color: #FFF8F3;
    border: 1px solid #FD6E0A;
    border-radius: 15px;
    /* margin: 130px; */
}

.section-title {
    font-size: 35px;
    font-weight: 700;
    font-family: open sans;
    font-style: normal;
    line-height: normal;
    color: #181818;
    text-align: center;
}

.section-des {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    text-align: center;
}

.about-div {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
}

.about-info {
    justify-content: space-around;
}

.info-normal {
    color: #757575;

}

.info-bold {
    color: #474747;
    font-weight: bold;
    margin-block: -10px;
}

/* #whatido-id {
    margin-block: 130px;
} */

.whatido {
    padding-inline: 270px;
}

.skill-container {
    display: flex;
    justify-content: center;
    padding-inline: 60px;

}

.skill {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px #fd6f0a34;
    margin-left: 20px;
}

.skill-title {
    font-weight: bold;
    font-size: 20px;
    color: #181818;
}

.skill-des {
    color: #757575;
    font-size: 16px;
}

/* resume section|complex! */
.resume-container {
    display: flex;
    justify-content: space-between;

    gap: 50px;
}

.resume-title {
    color: #474747;
    font-weight: bold;
    font-size: 30px;
}

.experience-title {
    font-size: 25px;
    font-weight: bold;
    color: #474747;
}

.exp-date {
    font-size: 20px;
    color: #757575;
}

.exp-des {
    font-size: 16px;
    color: #757575;
}

.download-cv {
    text-align: center;
    margin-top: 50px;
}

/* Footer section */
footer {
    background-color: #FFF8F3;
    padding: 130px 180px;
    display: flex;
    gap: 100px;

}

.footer-column {
    width: 50%;
}

.footer-title {
    font-size: 30px;
    font-weight: bold;
    color: #181818;
}

.footer-des {
    font-size: 15px;
    color: #474747;
}

/* form */

.contact input[type="text"], input[type="email"], textarea{
    display: block;
    margin-bottom: 25px;
    padding-block: 18px;
    padding-inline: 35px;
    border: 0px;
    resize: none;
    width: 100%;
}