.paragraph{
    background-color: blue;
    text-align: justify;
    font-family: monospace;
    font-size: 30px;
    justify-content: center;
    display: flex;
}
.list{
    background-color: tomato;
    margin: 10px;
    font-family: impact;
}

img{
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}